player-connection-mode=Listen
player-connection-guid=2077858172
player-connection-debug=0
player-connection-project-name=WW3_Battle
player-connection-ip=192.168.0.100
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5e0c4a14ecb74384a0416c7279f587d1
